.participant {
  position: relative;
}

.participant.hide {
  opacity: 0;
}

.participant h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.37);
}

.icons {
  position: absolute;
  display: flex;
  top: 0.5rem;
  left: 0.5rem;
  background-color: rgb(56, 56, 56);
  padding: 3px 5px;
  border-radius: 25px;
}

.icons svg {
  margin: 0 2.5px;
}